header > img {
    width: 100%;
}

.itens {
    background-color: #008950;
    margin-top: -5px;
    padding: 20px;
    text-align: center;
}

.menu > a {
    color: white;
    font-size: 1.4em;
    font-weight: bolder;
    padding: 20px;
    text-decoration: none;
    list-style: none;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.822);
    transition-duration: 0.5s;
}

.menu > a:hover {
    color: #DC3C28;
}

span {
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.822);
}

#burguer {
    display: none;
}

@media (max-width: 768px) {
    .itens {
        display: block;
    }

    .menu {
        display: none;
    }

    .menu > a {
        display: block;
        font-size: 1em;
        padding: 15px;
        border-bottom: 1px solid #DC3C28;
    }

    #burguer {
        display: block;
        cursor: pointer;
    }
}